.container {
  height: 100vh;
}

.logo {
  align-items: center;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 16px;
}

.header {
  color: white;
}